.nav{
float:left;
width:20%;
height:100%;
background-color:grey;
}

.right{
width:75%;
height:100%;
float:right;
}

.ulc {
color:white;
list-style-type:none;
margin: 0;
  padding: 0;
}

.ulc a{
text-decoration:none;
display:block;
color:white;
padding:10px;
}

.ulc li:hover
{
background-color:green;
color:green;
}

